.pricing-card-container{
    text-align: center;
    border-radius: $radius_2;
    padding: 2%;
    margin: 0 1vw;
    width: 34%;
    h4{
        padding: 5%;
        @include text-subtitle;
    }
    div{
        padding: 5%;
        @include text-hugebody;
        font-weight: 700;
    }
    li{
        padding: 1%;
        text-align: left;
        @include text-hugebody;
    };
}
.blue{
    background: linear-gradient(0deg, rgba(20, 108, 218, 0.67), rgba(20, 108, 218, 0.67)),url('/images/spectnaz_bg.png');
    color: $white;
}
.white{
    color: $primary;
    background-color: $white;
}