//
// Core: Variables
//

// COLORS
// --------------------------------------------------------
$blue: #0073b7 !default;
$lightblue: #74B9FF !default;
$navy: #001f3f !default;
$teal: #39cccc !default;
$olive: #3d9970 !default;
$lime: #01ff70 !default;
$orange: #ff851b !default;
$fuchsia: #f012be !default;
$purple: #605ca8 !default;
$maroon: #d81b60 !default;
$black: #111 !default;
$dark: #10233A !default;
$gray-x-light: #d2d6de !default;

$colors: map-merge((
    'lightblue': $lightblue,
    'navy': $navy,
    'olive': $olive,
    'lime': $lime,
    'fuchsia': $fuchsia,
    'maroon': $maroon,
), $colors);

// LAYOUT
// --------------------------------------------------------

/**
RADIUS
**/
$radius-1: 4px;
$radius-2: 8px;

$padding_ultrasoft: 0.3%;
$padding_soft: 1%;
$padding_medium: 3%;
$padding_10: 10%;

/**
SHADOWS
**/
$shadow-1: drop-shadow(0px 5px 14px rgba(0, 0, 0, 0.1));
$box-shadow-1: 1px 2px 4px rgba(0, 0, 0, 0.07), -3px -3px 9px rgba(0, 0, 0, 0.06);