// Bootstrap
// ---------------------------------------------------

@import '~@fortawesome/fontawesome-free/css/all.min.css';

@import '~bootstrap/scss/bootstrap';

@import '~toastr/build/toastr.min.css';

@import '~owl.carousel/dist/assets/owl.carousel.css';

// Variables and Mixins
// ---------------------------------------------------

@import 'fonts/fonts';
@import 'components/components';
@import './typos.scss';

body {
    background: #fff;
}

.header {
    background: $white;
    height: 73px;
    padding: 0 10%;
}

.footer{
    background: $dark;
    height: auto;
    width: 100%;
    display: flex;
    align-items: flex-end;
}