.main-container {
    width: 100%;
    margin: 4rem auto;
    background-color: $white;
    border-radius: $radius-2;

    .sub-container {
        margin: 0 auto;

        h1 {
            @include text-hugebody;
            margin-bottom: 2rem;
        }
    }
}