.footer_elements{
    padding: $padding_medium 0;
    width: 15%;
    .title {
        color: $white;
        img{
            width: 100px;
        }
    }
    .underline{
        background-color: $primary;
        height: 1px;
        width: 40%;
        margin: 5px 0 10px 0;

    }
    .description{
        color: $white
    }
}