.footer-container {
    background: $dark;
    height: auto;
    width: 100%;
    .footer-social-container{
        height: 73px;
        padding: 0;
        background: $primary;
        .footer-social{
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;
            .social-description{
                color: $white;
            }
            .media-container{
                width: 20%;
                display: flex;
                justify-content: space-between;
                i{
                    color: $white;
                    @include text-hugebody;
                    width: 40px;
                }
            }
        }
    }
    .footer-content{
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 30%;
        .footer_elements{
            padding: $padding_medium 0;
            width: 20%;
            .title {
                color: $white;
                @include text-hugebody;
                font-weight: 700;
                img{
                    width: 100px;
                }
            }
            .underline{
                background-color: $primary;
                height: 1px;
                width: 40%;
                margin: 5px 0 10px 0;
                margin-bottom: 2vh;        
            }
            .description{
                color: $white;
                @include text-body;
            }
            a{
                color: $white;
            }
        }
    }
    .copyright{
        background-color: rgba($color: #000000, $alpha: 0.2);
        color: #777777;
        display: flex;
        justify-content: center;
        padding: 16px;
        @include text-body;
        span{
            color: $white;
        }
    }
}